In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [2]:
list_1l = os.listdir('1L')
list_1r = os.listdir('1R')
list_2l = os.listdir('2L')
list_2r = os.listdir('2R')

In [3]:
l1 = pd.DataFrame()
for files in list_1l:
    file = pd.read_csv('1L/' + files, encoding='cp949')
    l1 = pd.concat([l1, file])
    
r1 = pd.DataFrame()
for files in list_1r:
    file = pd.read_csv('1R/' + files, encoding='cp949')
    r1 = pd.concat([r1, file])

l2 = pd.DataFrame()
for files in list_2l:
    file = pd.read_csv('2L/' + files, encoding='cp949')
    l2 = pd.concat([l2, file])
    
r2 = pd.DataFrame()
for files in list_2r:
    file = pd.read_csv('2R/' + files, encoding='cp949')
    r2 = pd.concat([r2, file])

In [4]:
l1.head()

,호기,공정명,생산량,날짜,시간,모델,모델명,비드,전류상한,전류(A),...,가스하한,용접시간상한,용접시간(sec),용접시간하한,판단,팁누적개수,NUM(EA),원점,LH_RH,가접시간
0,1,PLASMA W/D 1호기,408,2021-11-30,17:53:02,1,MAVERICK (RWD/FWD),1,0.0,51.2,...,0.0,0.0,7.3,0.0,GOOD,42897,77,NaN,NaN,0
1,1,PLASMA W/D 1호기,407,2021-11-30,17:52:47,1,MAVERICK (RWD/FWD),1,0.0,51.2,...,0.0,0.0,7.2,0.0,GOOD,42896,76,NaN,NaN,0
2,1,PLASMA W/D 1호기,406,2021-11-30,17:52:32,1,MAVERICK (RWD/FWD),1,0.0,51.2,...,0.0,0.0,7.2,0.0,GOOD,42895,76,NaN,NaN,0
3,1,PLASMA W/D 1호기,405,2021-11-30,17:52:17,1,MAVERICK (RWD/FWD),1,0.0,51.2,...,0.0,0.0,7.2,0.0,GOOD,42894,76,NaN,NaN,0
4,1,PLASMA W/D 1호기,404,2021-11-30,17:52:02,1,MAVERICK (RWD/FWD),1,0.0,51.2,...,0.0,0.0,7.3,0.0,GOOD,42893,77,NaN,NaN,0

In [5]:
r1.columns

Index(['호기', '공정명', '생산량', '날짜', '시간', '모델', '모델명', '비드', '전류상한', '전류(A)',
       '전류하한', '전압상한', '전압(V)', '전압하한', '가스상한', '가스(l/min)', '가스하한', '용접시간상한',
       '용접시간(sec)', '용접시간하한', '판단', '팁누적개수', 'NUM(EA)', '원점', 'LH_RH', '가접시간'],
      dtype='object')

In [6]:
# make time column
l1['Time'] = l1['날짜'] + ' ' + l1['시간']
r1['Time'] = r1['날짜'] + ' ' + r1['시간']

all_time = pd.concat([l1['Time'], r1['Time']])
all_time.drop_duplicates()

0        2021-11-30 17:53:02
1        2021-11-30 17:52:47
2        2021-11-30 17:52:32
3        2021-11-30 17:52:17
4        2021-11-30 17:52:02
                ...
19425    2021-12-01 08:36:14
19426    2021-12-01 08:34:41
19427    2021-12-01 08:32:52
19428    2021-12-01 08:32:34
19429    2021-12-01 08:31:50
Name: Time, Length: 779964, dtype: object

In [7]:
r1['호기'].value_counts()

1    437370
Name: 호기, dtype: int64

In [8]:
l1['모델'].value_counts()

1    346600
Name: 모델, dtype: int64

In [9]:
r1['모델'].value_counts()

1    437370
Name: 모델, dtype: int64

In [10]:
r1['공정명'].value_counts()

PLASMA W/D 1호기    402841
PLASMA W/D 2호기     34529
Name: 공정명, dtype: int64

In [11]:
l1['모델명'].value_counts()

MAVERICK (RWD/FWD)    345464
Unknown Model Name      1136
Name: 모델명, dtype: int64

In [12]:
r1['모델명'].value_counts()

MEVERICK (RWD/FWD)    437370
Name: 모델명, dtype: int64

In [13]:
l1['비드'].value_counts()

1    346600
Name: 비드, dtype: int64

In [14]:
r1['비드'].value_counts()

1    437370
Name: 비드, dtype: int64

In [15]:
l1['전류상한'].value_counts()

0.0    346600
Name: 전류상한, dtype: int64

In [16]:
r1['전류상한'].value_counts()

0.0    437370
Name: 전류상한, dtype: int64

In [17]:
l1['전류하한'].value_counts()

0.0    346600
Name: 전류하한, dtype: int64

In [18]:
r1['전류하한'].value_counts()

0.0    437370
Name: 전류하한, dtype: int64

In [19]:
l1['전압상한'].value_counts()

0.0    346600
Name: 전압상한, dtype: int64

In [20]:
r1['전압상한'].value_counts()

0.0    437370
Name: 전압상한, dtype: int64

In [21]:
l1['전압하한'].value_counts()

0.0    346600
Name: 전압하한, dtype: int64

In [22]:
l1['전압상한'].value_counts()

0.0    346600
Name: 전압상한, dtype: int64

In [23]:
l1['가스하한'].value_counts()

0.0    346600
Name: 가스하한, dtype: int64

In [24]:
l1['가스상한'].value_counts()

0.0    346600
Name: 가스상한, dtype: int64

In [25]:
r1['가스상한'].value_counts()

0.0    437370
Name: 가스상한, dtype: int64

In [26]:
r1['가스하한'].value_counts()

0.0    437370
Name: 가스하한, dtype: int64

In [27]:
l1['용접시간상한'].value_counts()

0.0    346600
Name: 용접시간상한, dtype: int64

In [28]:
l1['용접시간하한'].value_counts()

0.0    346600
Name: 용접시간하한, dtype: int64

In [29]:
l1['가접시간'].value_counts()

0    346600
Name: 가접시간, dtype: int64

In [30]:
r1['가접시간'].value_counts()

0    437370
Name: 가접시간, dtype: int64

In [31]:
l1 = l1.drop(['전류상한', '전류하한', '비드', '호기', '가스상한', '가스하한', '전압상한', '전압하한', "원점", 'LH_RH', '가접시간', '모델', '시간', '용접시간상한', '용접시간하한'], axis=1)
l1.to_csv('1_left.csv', mode='w')

In [32]:
r1 = r1.drop(['전류상한', '전류하한', '비드', '호기', '가스상한', '가스하한', '전압상한', '전압하한', "원점", 'LH_RH', '가접시간', '모델', '시간', '용접시간상한', '용접시간하한'], axis=1)
r1.to_csv('1_right.csv', mode='w')

In [33]:
checklist = ['전류상한', '전류하한', '비드', '호기', '가스상한', '가스하한', '전압상한', '전압하한', "원점", 'LH_RH', '가접시간', '모델']

for i in checklist:
    print(l2[i].value_counts())
    print(r2[i].value_counts())

0.0    353719
Name: 전류상한, dtype: int64
0.0    293321
Name: 전류상한, dtype: int64
0.0    353719
Name: 전류하한, dtype: int64
0.0    293321
Name: 전류하한, dtype: int64
1    353719
Name: 비드, dtype: int64
1    293321
Name: 비드, dtype: int64
1    353719
Name: 호기, dtype: int64
1    293321
Name: 호기, dtype: int64
0.0    353719
Name: 가스상한, dtype: int64
0.0    293321
Name: 가스상한, dtype: int64
0.0    353719
Name: 가스하한, dtype: int64
0.0    293321
Name: 가스하한, dtype: int64
0.0    353719
Name: 전압상한, dtype: int64
0.0    293321
Name: 전압상한, dtype: int64
0.0    353719
Name: 전압하한, dtype: int64
0.0    293321
Name: 전압하한, dtype: int64
Series([], Name: 원점, dtype: int64)
Series([], Name: 원점, dtype: int64)
Series([], Name: LH_RH, dtype: int64)
Series([], Name: LH_RH, dtype: int64)
0    353719
Name: 가접시간, dtype: int64
0    293321
Name: 가접시간, dtype: int64
1    353719
Name: 모델, dtype: int64
1    293321
Name: 모델, dtype: int64

In [34]:
# make time column
l2['Time'] = l2['날짜'] + ' ' + l2['시간']
r2['Time'] = r2['날짜'] + ' ' + r2['시간']

all_time = pd.concat([l2['Time'], r2['Time']])
all_time.drop_duplicates()

0       2021-08-31 17:48:31
1       2021-08-31 17:48:16
2       2021-08-31 17:48:00
3       2021-08-31 17:47:45
4       2021-08-31 17:47:30
               ...
8131    2021-05-24 08:32:17
8132    2021-05-24 08:32:02
8133    2021-05-24 08:31:45
8134    2021-05-24 08:31:30
8135    2021-05-24 08:25:45
Name: Time, Length: 646578, dtype: object

In [35]:
all_time

0       2021-08-31 17:48:31
1       2021-08-31 17:48:16
2       2021-08-31 17:48:00
3       2021-08-31 17:47:45
4       2021-08-31 17:47:30
               ...
8131    2021-05-24 08:32:17
8132    2021-05-24 08:32:02
8133    2021-05-24 08:31:45
8134    2021-05-24 08:31:30
8135    2021-05-24 08:25:45
Name: Time, Length: 647040, dtype: object

In [36]:
l2 = l2.drop(['전류상한', '전류하한', '비드', '호기', '가스상한', '가스하한', '전압상한', '전압하한', "원점", 'LH_RH', '가접시간', '모델', '시간', '용접시간상한', '용접시간하한'], axis=1)
l2.to_csv('2_left.csv', mode='w')

In [37]:
r2 = r2.drop(['전류상한', '전류하한', '비드', '호기', '가스상한', '가스하한', '전압상한', '전압하한', "원점", 'LH_RH', '가접시간', '모델', '시간', '용접시간상한', '용접시간하한'], axis=1)
r2.to_csv('2_right.csv', mode='w')

In [39]:
l1

,공정명,생산량,날짜,모델명,전류(A),전압(V),가스(l/min),용접시간(sec),판단,팁누적개수,NUM(EA),Time
0,PLASMA W/D 1호기,408,2021-11-30,MAVERICK (RWD/FWD),51.2,21.76,7.23,7.3,GOOD,42897,77,2021-11-30 17:53:02
1,PLASMA W/D 1호기,407,2021-11-30,MAVERICK (RWD/FWD),51.2,21.71,7.23,7.2,GOOD,42896,76,2021-11-30 17:52:47
2,PLASMA W/D 1호기,406,2021-11-30,MAVERICK (RWD/FWD),51.2,21.71,7.23,7.2,GOOD,42895,76,2021-11-30 17:52:32
3,PLASMA W/D 1호기,405,2021-11-30,MAVERICK (RWD/FWD),51.2,21.71,7.23,7.2,GOOD,42894,76,2021-11-30 17:52:17
4,PLASMA W/D 1호기,404,2021-11-30,MAVERICK (RWD/FWD),51.2,21.75,7.22,7.3,GOOD,42893,77,2021-11-30 17:52:02
...,...,...,...,...,...,...,...,...,...,...,...,...
12708,PLASMA W/D 1호기,5,2022-03-21,MAVERICK (RWD/FWD),52.2,18.41,5.33,6.3,GOOD,38164,67,2022-03-21 12:13:43
12709,PLASMA W/D 1호기,4,2022-03-21,MAVERICK (RWD/FWD),52.2,18.38,5.34,6.3,GOOD,38163,67,2022-03-21 11:59:23
12710,PLASMA W/D 1호기,3,2022-03-21,MAVERICK (RWD/FWD),52.3,18.25,5.34,6.3,GOOD,38162,67,2022-03-21 11:17:14
12711,PLASMA W/D 1호기,2,2022-03-21,MAVERICK (RWD/FWD),52.2,18.04,5.34,6.3,GOOD,38161,67,2022-03-21 11:12:05
12712,PLASMA W/D 1호기,1,2022-03-21,MAVERICK (RWD/FWD),52.2,17.92,5.38,6.3,GOOD,38160,67,2022-03-21 11:04:42

In [42]:
l1.columns = ['공정명', 'product', 'date', 'model_name', 'A', 'V', 'G', 'T', 'estimate', 'tip_cum', 'NUM(EA)', 'time']
l2.columns = ['공정명', 'product', 'date', 'model_name', 'A', 'V', 'G', 'T', 'estimate', 'tip_cum', 'NUM(EA)', 'time']
r1.columns = ['공정명', 'product', 'date', 'model_name', 'A', 'V', 'G', 'T', 'estimate', 'tip_cum', 'NUM(EA)', 'time']
r2.columns = ['공정명', 'product', 'date', 'model_name', 'A', 'V', 'G', 'T', 'estimate', 'tip_cum', 'NUM(EA)', 'time']

In [44]:
l1.to_csv('1_left.csv', mode='w')
r1.to_csv('1_right.csv', mode='w')
l2.to_csv('2_left.csv', mode='w')
r2.to_csv('2_right.csv', mode='w')