<a href="https://colab.research.google.com/github/AnnJungChan/youngjin_TECH/blob/main/DeepCandle/no1_candle_chart_data_diff_30minutes_split_maker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패키지 로딩

In [67]:
from google.colab import drive
drive.mount('/content/gdrive/')
import pandas as pd
import numpy as np

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

# 데이터 로딩

- 0이면 정상
- 1이면 고장

In [68]:
label1 = pd.read_csv('/content/gdrive/MyDrive/용접데이터/일별데이터/일별 관측치 1호기_프로세스1.csv')
label2 = pd.read_csv('/content/gdrive/MyDrive/용접데이터/일별데이터/일별 관측치 1호기_프로세스2.csv')
label1 = label1[['date','실제불량갯수']]
label2 = label2[['date','실제불량갯수']]
label = pd.concat([label2,label1],axis = 0)
label=label.reset_index()
label.drop(columns = ['index'],inplace = True)
for i in range(len(label)) :
  if label['실제불량갯수'][i] == 0 :
    label['실제불량갯수'][i] = 0
  else :
    label['실제불량갯수'][i] = 1

label=label.iloc[1:208]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

# Train, Valid, Test split

In [69]:
train_ratio = 0.6
valid_ratio = 0.2
test_ratio = 0.2

In [70]:
print("전체 데이터 갯수 : ", len(label))
print("train 데이터 갯수 : ",round(len(label)*train_ratio))
print("valid 데이터 갯수 : ",round(len(label)*valid_ratio))
print("test 데이터 갯수 : ",round(len(label)*test_ratio))
print("차이 : ", len(label) - (round(len(label)*train_ratio)+round(len(label)*valid_ratio)+round(len(label)*test_ratio)))

전체 데이터 갯수 :  207
train 데이터 갯수 :  124
valid 데이터 갯수 :  41
test 데이터 갯수 :  41
차이 :  1

In [71]:
train_numbers = 125
valid_numbers = 41
test_numbers = 41

In [ ]:
train_label = label[0:train_numbers]
valid_label = label[train_numbers:train_numbers + valid_numbers]
test_label = label[train_numbers + valid_numbers:]

In [ ]:
train_label.rename(columns = {'실제불량갯수':'decision'},inplace = True)
valid_label.rename(columns = {'실제불량갯수':'decision'},inplace = True)
test_label.rename(columns = {'실제불량갯수':'decision'},inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
train_label.to_csv('/content/gdrive/MyDrive/용접데이터/캔들차트분석/1호기/label/train.csv')
valid_label.to_csv('/content/gdrive/MyDrive/용접데이터/캔들차트분석/1호기/label/valid.csv')
test_label.to_csv('/content/gdrive/MyDrive/용접데이터/캔들차트분석/1호기/label/test.csv')

# 데이터에는 있으나, 라벨이 없는 데이터에 대해서는 플랏을 삭제시킴

In [84]:
date_list=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/data_list.csv")

In [94]:
date_list['date_list']=date_list['date']
date_list
label['label_date']=label['date']
label
na=pd.merge(date_list,label, how = 'outer', on = 'date')

In [96]:
na[na['date_list'].isna()]

Empty DataFrame
Columns: [date, date_list, 실제불량갯수, label_date]
Index: []

In [97]:
na[na['label_date'].isna()]

           date   date_list  실제불량갯수 label_date
26   2021-02-07  2021-02-07     NaN        NaN
35   2021-02-21  2021-02-21     NaN        NaN
45   2021-03-07  2021-03-07     NaN        NaN
51   2021-03-14  2021-03-14     NaN        NaN
105  2021-05-19  2021-05-19     NaN        NaN
113  2021-05-31  2021-05-31     NaN        NaN
133  2021-06-27  2021-06-27     NaN        NaN